@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.community_box {
    background: #ffffff;
    width: 100%;
    height: 77%;
    position: absolute;
    left: 0%;
    top: auto;
}

.side {
    background: #f7effb;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 75%;
}
.search {
    color: #000000;
    font-size: 30px ;
    position: relative;
  }
  .rectangle-1 {
    background: #d9d9d9;
    border-radius: 15px;
    width: 350px;
    height: 60px;
    position: relative;
    align-items: center;
    justify-content: center;
  }

.button {
    background: #445c4c;
    border-radius: 999px;
    padding: 11px 18px 11px 18px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 30px;
    position: relative;
    overflow: hidden;
  }
  .get-it {
    color: #ffffff;
    text-align: left;
    font: 700 16px/100% "Lato", sans-serif;
    position: relative;
  }

.side ul li{
  color: #000000;
  font-size: 30px;
  top: 50px;
  position: relative;
  list-style-type: none;
}

.community-1,
.community-1 * {
  box-sizing: border-box;
}
.community-1 {
  background: #8ab6a9;
  width: 50%;
  height: 400px;
  margin-left: 25%;
  position: absolute;
}

.community-2,
.community-2 * {
  box-sizing: border-box;
}
.community-2 {
  background: #8ab6a9;
  width: 50%;
  height: 400px;
  margin-left: 25%;
  top: 410px;
  position: absolute;

}

.img_box {
    width: 150px;
    height: 100%;
    position: absolute;
}
.id_img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  position: relative;
  left: 25px;
  top: 25px;
}
.id {
  color: #ffffff;
  text-align: left;
  font-size:  25px;
  position: relative;
  left: 180px;
  top: 10px;
}
.b_img1 {
  width: 330px;
  height: 220px;
  position: absolute;
  left: 180px;
  top: 55px;
}
.b_img2 {
  width: 330px;
  height: 220px;
  position: absolute;
  left: 520px;
  top: 55px;
}

.b_img3 {
    width: 330px;
    height: 220px;
    position: absolute;
    left: 860px;
    top: 55px;
  }

.content_txt {
  color: #000000;
  text-align: left;
  font-size : 18px;
  position: absolute;
  left: 180px;
  top: 300px;
  width: 1010px;
  height: 80px;
}
.icon-heart {
  position: absolute;
  left: 180px;
  top: 350px;
  overflow: visible;
}
.icon-comment {
  position: absolute;
  left: 210px;
  top: 350px;
  overflow: visible;
}
.icon-share {
  position: absolute;
  left: 240px;
  top: 350px;
  overflow: visible;
}



.footer {
    width: 100%;
    height: 12%;
    left: 0%;
    bottom: 0%;
    background-color: #9d9c9a;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer_text {
    font-size: 0.8vw;
    color: white;
}

.footer_logo {
    position: relative;
    left : 0%;
    width: 10%;
    height: auto;
}
