@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
  margin: auto;
  background: #ffffff;
  width: 1440px;
  height: auto;
  position: relative;
  font-family: 'S-CoreDream-3Light';
}

.footer {
    width: 100%;
    height: 20%;
    top: 2000px;
    margin-bottom: 0%;
    background-color: #9d9c9a;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer_text {
    font-size: 1vw;
    color: white;
    
  }
  
  .footer_logo {
    position: relative;
    left : 0%;
    width: 15%;
    height: auto;
  }