@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    margin: auto;
    background: #ffffff;
    width: 1440px;
    height: auto;
    position: relative;
    font-family: 'S-CoreDream-3Light';
  }
  
  .header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 25%;
    height: auto;
    position: absolute;
    left: 0px;
    top: -6px;
  }
  
  .menu_group {
    display: inline-block;
    float: right;
    vertical-align: middle;
    align-items: center;
  }
  
  .menu_list {
    list-style: none;
    padding: 0;
    color: #E7EAEF;
    display: flex;
    font-size: 20px;
  }
  
  .menu_list li {
    float: right;
    border-right: 1px solid #E7EAEF;
    padding: 0 5px;
  }
  
  .menu_list li a {
    text-decoration: none;
    color: #000000;
  }
  
  .menu_list li a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  .menu_list li:last-child {
    border-right: none;
  }
  
  .menu_list li a:hover {
    color: #508068;
  }
  .login{
      padding-right:3%;
      maring-right:3%;
  }